<input type="hidden" #selection>

<div class="card-container">
  <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
      <path fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
    </svg>
    <span> About Me</span>
  </button>
  <button class="card card-small" (click)="selection.value = 'SoftwareEng.'" tabindex="0">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
    </svg>
    <span>Software Engineer Intern</span>
  </button>
  <button class="card card-small" (click)="selection.value = 'WebDev'" tabindex="0">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path
        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
    </svg>
    <span>Web Developer</span>
  </button>
  <button class="card card-small" (click)="selection.value = 'SupportEng.'" tabindex="0">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
    </svg>
    <span>Support Engineer</span>
  </button>
</div>

<div class="terminal" [ngSwitch]="selection.value">
  <pre *ngSwitchDefault><code> Hello, My name is Abdlurahman <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
</svg>
 * I completed my bachelor's in Software Engineering.
 * During my Study I worked in over 10 Software Project in which I and my teams went through the whole Software Life cycle.
 * Proccess that I am familiar with as I practiced are Waterfall and Agile.

 I am looking for a chance where I can apply and improve my skills in an impactful way which can help business grow. 
 Open for any type of opportunities and challenges in the scope of my field.
</code>
</pre>

<pre *ngSwitchCase="'SoftwareEng.'"><samp> Time Period: May 2021 - Aug 2021
  Software Engineer Intern in Saudi Aramco.
  During my internship, I worked in two main applications. 
  * One is a desktop app for tracking lab samples results. 
  * The second one is a website for tracking employee's courses. 
  
  Technology used during the period: 
  .NET, access DB, Microsoft SQL server.
  </samp></pre>

<pre *ngSwitchCase="'WebDev'"><samp> Time Period: Jan 2022 - May 2022
Developed KFUPM CLUBS system as graduation project.
  A centralized platform where students can join and manage clubs, events, post, comments and more. Built with Angular and Firebase. 
  As a project leader, I was involved in the documentation, design, implementation, testing.
  My contribution in the implementation was working as the Back-end developer where I mainly did the following:
  1- Enforced security rules for CRUD operations of different roles.
  2- Designed the database schema in the Firebase system. 
  Technologies used during the period: Teams, Figma, Angular, tailwind, Firebase.

</samp></pre>

<pre *ngSwitchCase="'SupportEng.'"><samp> Time Period: Oct 2022 - Now
Support engineer for the application CRM dynamic 365 in Alrajhi Bank. 
  My work was divided into four main activities. 
  1- Resolving users' issues which various from the following: 
  lacking access, code bug, business rule or user guide. 
  2- Deployment of new packages into production. 
  3- Monitoring performance of servers and services of the application. 
  4- Extracting data from the CRM database and doing analytics reports for the business users.
  Technologies used during the period: 
  CRM dynamic 365, JavaScript, C#, Microsoft SQL server, SSIS/SSRS, Excel, Windows servers 2012, TrueSight.
  </samp></pre>
</div>