<h1>
	Designs
</h1>
<div class="main">
	<div class="sub">
		<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" 
		src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FOuquigOm7pW7torO2YmgtK%2FMy-work%3Fnode-id%3D210%253A4724%26t%3DbBOsEumdjQizid2M-1" allowfullscreen></iframe>
	</div>
	<div class="sub">
		<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" 
		src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FOuquigOm7pW7torO2YmgtK%2FMy-work%3Fnode-id%3D1%253A2123%26t%3DbBOsEumdjQizid2M-1" allowfullscreen></iframe>
	</div>
	<div class="sub">
		<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" 
		src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FOuquigOm7pW7torO2YmgtK%2FMy-work%3Fnode-id%3D209%253A393%26t%3DbBOsEumdjQizid2M-1" allowfullscreen></iframe>
	</div>
</div>

<!-- <h1>
	Designs
</h1>
<div class="main">
	<div class="sub">
		<h2>Original Designs</h2>
	<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" 
	src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FOuquigOm7pW7torO2YmgtK%2FMy-work%3Fnode-id%3D210%253A4724%26t%3DbBOsEumdjQizid2M-1" allowfullscreen></iframe>
</div>
	<div class="sub">
		<h2>Copied Designs</h2>
		<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FOuquigOm7pW7torO2YmgtK%2FMy-work%3Fnode-id%3D1%253A2123%26t%3DbBOsEumdjQizid2M-1" allowfullscreen></iframe>
</div>
	<div class="sub">
		<h2>Graduation Project Design</h2>
		<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FOuquigOm7pW7torO2YmgtK%2FMy-work%3Fnode-id%3D209%253A393%26t%3DbBOsEumdjQizid2M-1" allowfullscreen></iframe>
	</div>
</div> -->