<section class="nav">
  <h1>PORTFOLIO</h1>
  <h3 class="span loader">
    <span class='m'>D</span>
    <span class='m'>A</span>
    <span class='m'>H</span>
    <span class='m'>I</span>
    <span class='m'>M</span>
  </h3>
  <div class="nav-container">
    <a class="nav-tab" href="#" routerLink="/">Home</a>
    <a class="nav-tab" href="#" routerLink="/contact-me">Contact Me</a>
    <a class="nav-tab disabled" href="#" routerLink="/my-play-ground">My Play ground</a>
    <a class="nav-tab disabled" href="#" routerLink="/projects">My Projects</a>
  </div>
</section>

<div class="container">
  <router-outlet></router-outlet>
  <div class="Letters_c span">
    <span class="Letters">D</span>
    <span class="Letters altter">A</span>
    <span class="Letters hletter">H</span>
    <span class="Letters iletter">I</span>
    <span class="Letters">M</span>
  </div>
  <div class="line-container">
    <svg viewBox="0 0 163 28" fill="none" preserveAspectRation="xMidYMax meet">
      <path
        d="M0 27H6M6 27V4L18 4.5L21.5 8L23 13.5L21.5 20L17 25L14.5 26H12H9H6V26.9705H15.2357M6 27L15.2357 26.9705M15.2357 26.9705L41 27M41 27L44.1413 18.5M41 27H57.5M54.5 18.5L49.5 4L44.1413 18.5M54.5 18.5H44.1413M54.5 18.5L57.5 27M57.5 27H78M78 27V13.5M78 27H93.5M78 4V13.5M78 13.5H93.5V4V27M93.5 27H118.5M118.5 27L118.25 4M118.5 27V25.5M118.5 27H143M123 4H118.25M118.25 4H113.5H118.5V25.5M118.5 25.5H123H113.5H118.5ZM143 27V4L152 17.5L162 4V27H143Z"
        stroke="#E100FF" stroke-width="2" />
    </svg>
  </div>
</div>

<footer class="page-footer font-small blue pt-4 justify-content-center">
  <span>
    Liked My Work?&nbsp;&nbsp;
  </span>
  <a href="https://github.com/drperstry" target="_blank" rel="noopener">
    <div class="github-star-badge">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
      </svg>
      Star
    </div>
  </a>
</footer>