@use '../../../styles' as *;

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);



ul {
  padding: 0;
  list-style: none;
}

.footer-social-icons {
  width: 100%;
  display: block;
}
.social-icons{
  display: flex;
  justify-content: center;
}