span {
    font-weight: bold;
    background: lightgray;
    padding: .3em .8em;
    cursor: pointer;
    color: black;
}

.play-container {
    padding: 3em;
    margin-bottom: 1em;
    color: white;
    input {
        padding: 1em;
        margin-bottom: 2em;
    }
}
.notactive {
    background-color: red;

}
.active {
    background-color: green;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        background: rgb(238, 238, 238);
        padding: 1em;
        width: 20%;
        height: max-content;
        margin-bottom: 1em;
        flex-direction: column;

        p {
            margin: 0;
        }

        p.name {
            font-weight: bold;
            font-size: 1.2rem;
        }
        p.category {
            text-transform: uppercase;
            font-size: .9rem;
            flex-grow: 1;
        }
        .site{
            font-style: normal;
            color: blue;
        }
    }
}