/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(225, 0, 255);



@keyframes blinkingBackground {
  0% {
    background-image: linear-gradient(to right, #bb48c5, #181818);
  }

  25% {
    background-image: linear-gradient(to left, #bb48c5, #181818);
  }

  50% {
    background-image: linear-gradient(to right, #bb48c5, #181818);
  }

  75% {
    background-image: linear-gradient(to left, #bb48c5, #181818);
  }

  100% {
    background-image: linear-gradient(to right, #bb48c5, #181818);
  }
}

@keyframes Trasnformation {
  0% {
  }

  25% {
    transform: skewY(-20deg);

  }

  50% {
    transform: skewX(20deg);

  }

  75% {
    transform: skewY(20deg);
  }

  100% {
    transform: skewX(-20deg);
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 20;
  }
}

body {
  margin: 0;
  font-family: 'Nunito', 'sans-serif';
  font-size: 18px;
  background-color: #24292e;
}

.slider {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  position: relative;
  animation: blinkingBackground 6s infinite;
  text-align: center;
  padding: 0 1em;
}

.slider h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.3rem;
  color: $primary;
  transition: all 0.3s ease;
  z-index: 3;
}

.slider h2 {
  font-size: 2vw;
  letter-spacing: 0.3rem;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
}

a {
  text-decoration: none;
}


.background {
  position: absolute;
  height: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.loader span {
  color: rgb(41, 38, 38);
}

.Letters{
  font-family: "ROBOTO", sans-serif;
  transition: transform .4s ease-in-out;
  color:$primary;
  font-size:4vw;
  display:inline-block;
  justify-self: center;
  width: 20%;
  margin-bottom: 10px;
}

.Letters:hover{
  animation: Trasnformation 0.2s infinite;
  color:black;
}

.line-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  z-index: -1;
  svg {
      display: inline-block;
      height: 100%;
      width: 100%;
    }  
    path {
      stroke-dasharray: 2;
      stroke-dashoffset: 1;
      animation: dash 5s linear infinite;
    }
  }

  @media (min-width: 400px) {
  
    .slider h1 {
      font-size: 3vw;
    }
  
    .slider h2 {
      font-size: 3vw;
    }
  
  }
  
  @media screen {
  
    .slider h1 {
      font-size: 4vw;
    }
  
    .slider h2 {
      font-size: 2vw;
      letter-spacing: 0.2vw;
    }
  
    pre{
      font-size:1.2vw;
    }
  }